.nav {
  @include clearfix;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: $brand-sidebar;
  margin-bottom: 25px;

  .right {
    float: right;
  }

  .heading {
    font-size: 125%;
  }

  a {
    padding: 0 15px;
    color: $brand-neutral;
    font-weight: bold;
    @include link-no-underscore;
  }
}
