$icon-path: "../../dist/fonts";
@import "../../styles/main";
@import "nav";
@import "swatch";
@import "type";
@import "button";
@import "layout";
@import "footer";
@import "icons";
@import "loader";
@import "utils";

.doc-bottom-space { margin-bottom: 25px; }
.doc-bottom-space-large { margin-bottom: 50px; }
.doc-bottom-space-small { margin-bottom: 10px; }
.doc-allowance { margin-right: 5px; }

// Not really a block
.doc-block {
  display: inline-block;
  min-width: 125px;
  height: 50px;
  padding: 0 5px;
  line-height: 50px;
  text-align: center;
  background: $brand-gray-lt;
  border: 1px solid $brand-gray;
  border-radius: $border-radius-base;
}
