@import "../../styles/main";
@import "nav";
@import "swatch";
@import "type";
@import "layout";
@import "footer";

.doc-bottom-space { margin-bottom: 25px; }

.doc-bottom-space-large { margin-bottom: 50px; }

.doc-bottom-space-small { margin-bottom: 10px; }
