.responsive-mixins-box {
  width: 100px;
  height: 100px;
  background: $brand-gray;

  @include breakpoint-sm {
    background: $brand-crimson;
  }

  @include breakpoint-md {
    background: $brand-sun;
  }

  @include breakpoint-lg {
    background: $brand-sky;
  }

  @include breakpoint-xl {
    background: $brand-emerald;
  }
}
