.responsive-mixins-box {
  width: 100px;
  height: 100px;
  background: $brand-gray;

  @include breakpoint-sm {
    background: $brand-crimson;
  }

  @include breakpoint-md {
    background: $brand-sun;
  }

  @include breakpoint-lg {
    background: $brand-sky;
  }

  @include breakpoint-xl {
    background: $brand-emerald;
  }
}

.doc-ellipsis-example-container {
  padding: 10px;
  width: 200px;
  line-height: 1;
  border: 1px solid $brand-sky;
  border-radius: $border-radius-rounded;

  > p {
    margin: 0;
  }
}
