.alert {
  padding: 20px 15px;
	position: relative;
	color: $brand-white;
  border-radius: $border-radius-base;

  &.-sky {
    background-color : $brand-sky;
  }

  &.-emerald {
    background-color : $brand-emerald;
  }

  &.-sun {
    background-color : $brand-sun;
  }

  &.-crimson {
    background-color: $brand-crimson;
  }

  &.-large {
    padding: 30px 15px;
  }

  &.-block {
    text-align: center;
    border: 0;
    border-radius: 0;
  }

  > .icon:first-child {
    margin-right: 10px;
  }

  a {
    font-weight: bold;
  }

  &.-sky a {
    color: darken($brand-sky,30%);
  }

  &.-emerald a {
    color: darken($brand-emerald,30%);
  }

  &.-sun a {
    color: darken($brand-sun,30%);
  }

  &.-crimson a {
    color: darken($brand-crimson,30%);
  }
}
