.alert {
  padding: 20px 15px;
	position: relative;
	color: $brand-white;
  border-radius: $border-radius-base;

  &.-emerald {
    background-color: $brand-emerald;
  }

  &.-sky {
    background-color : $brand-sky;
  }

  &.-sun {
    background-color : $brand-sun;
  }

  &.-crimson {
    background-color: $brand-crimson;
  }

  &.-large {
    padding: 30px 15px;
  }

  &.-block {
    text-align: center;
    border: 0;
    border-radius: 0;
  }

  > .icon:first-child {
    margin-right: 10px;
  }

  a {
    font-weight: bold;
  }

  // @todo
  // Document all alert link colors somehow.
  // Or even set to a variable
  &.-sky a {
    color: #2F5B86;
  }

  &.-emerald a {
    color: #227D64;
  }

  &.-sun a {
    color: #80612E;
  }

  &.-crimson a {
    color: #86342C;
  }
}
