/**
 * The container to position Alert like Growl
 *
 * Obviously intended to be used with `alert`
 * @see alert.scss
 *
 * @example
 * <div class="alert-growl">
 *   <div class="alert -emerald">
 *     Your transaction was successful!
 *   </div>
 * </div>
 *
 */
.alert-growl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  > .alert {
    @extend .alert.-block;
  }
}
