.panel {
  color: $brand-black;
	background: $brand-white;
  border: 1px solid $brand-gray-lt;
	border-radius: 5px;

  > .heading {
    padding: 10px 15px;
    font-weight: bold;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    border-bottom: 1px solid $brand-gray-lt;
  }

  > .heading > * {
    margin-bottom: 0; // remove vertical rhythm
  }

  > .body {
    padding: 15px;
  }

  > .body + .body {
    border-top: 1px solid $brand-gray-lt;
  }

  > .footer {
    padding: 10px 15px;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

  // https://github.com/dev-onenetworkecommerce/aia/pull/62/files
  // in the discussion, it wasn't decided whether to
  // include the .-bordered modifier here (meaning, we're only dealing with .table)
  // refactor soon.
  > .table.-bordered > thead > tr > th:first-child,
  > .table.-bordered > tbody > tr > td:first-child {
    border-left: 0;
  }

  > .table.-bordered > thead > tr > th:last-child,
  > .table.-bordered > tbody > tr > td:last-child {
    border-right: 0;
  }

  > .table.-bordered > tbody > tr:last-child { border-bottom: 0; }

  > .list-group > .menuitem {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
