.slate {
	padding: 30px;
  text-align: center;
  color: $brand-gray-dk;
  background: $brand-gray-lt;
  border-radius: $border-radius-base;

	&.-spacious { padding: 60px; }
	&.-plain { background: $brand-white; }

  > .icon:first-child {
    display: block;
  }

  > .icon:first-child,
  > .tri-circle-loader:first-child {
    margin-bottom: $spacer-large;
  }

  > *:last-child { margin-bottom: 0; }
}
