.slate {
	padding: 30px;
  text-align: center;
  color: $brand-gray-dk;
  background: $brand-gray-lt;
  border-radius: $border-radius-base;

	&.-spacious { padding: 60px; }
	&.-plain { background: $brand-white; }

  // For consistency
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer-large;
  }

  p {
    margin-bottom: $spacer-small;
  }

  > *:last-child { margin-bottom: 0; }
}
