.steps {
  padding: 8px 15px;
  list-style: none;
  color: $brand-gray;
  font-size: $small;

  li {
    position: relative;
    display: inline-block;
    margin: 0 25px;
    width: 50px;
    height: 50px;
    padding: 2px 10px;
    text-align: center;
    background: $brand-gray-lt;
    text-decoration: none;
    border-radius: 50%;
    border: 3px solid $brand-gray;
  }

  li > a { 
    color: $brand-gray-dk; 
    z-index: 1;
  }

  li::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 5px;
    width: 100px;
    height: 5px;
    background: $brand-gray;
    z-index: -1;
  }

  li:first-child::before { display: none; }

  li.-active > a { color: $brand-white; }
  li.-active::before,
  li.-active { 
    background: $brand-sky-dk; 
  }

  li.-complete > a { color: $brand-white; }
  li.-complete,
  li.-complete:before { 
    background: $brand-emerald; 
  }
}