.steps {
  padding: 0;
  margin: 0;
  list-style: none;
  color: $brand-gray;

  li {
    position: relative;
    display: inline-block;
    margin: 0 25px;
    width: 50px;
    height: 50px;
    padding: 2px 10px;
    text-align: center;
    background: $brand-gray-lt;
    border-radius: 50%;
    border: 3px solid $brand-gray;
    font-size: $small;
  }

  li > a {
    color: $brand-gray-dk;
    z-index: 1;
    text-decoration: none;
  }

  > li > a > .icon {
    padding: 8px 0;
  }

  li::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 5px;
    width: 100px;
    height: 5px;
    background: $brand-gray;
    z-index: -1;
  }

  li:first-child { margin-left: 0; }
  li:last-child { margin-right: 0; }
  li:first-child::before { display: none; }

  .active > a { color: $brand-white; }
  .active::before,
  .active {
    background: $brand-sky-dk;
  }

  .complete > a { color: $brand-white; }
  .complete,
  .complete:before {
    background: $brand-emerald;
  }
}
