$def-margin : 5px !default;
$large-margin : 15px;
@mixin margin($position,$px) {
   margin-#{$position} : $px;
}
.alert {
  padding: 10px 20px;
	position: relative;
	color: $brand-white;
}

.-success {
  background-color: $brand-emerald;
}
.-info {
  background-color : $brand-blue;
}
.-warning {
  background-color : $brand-sun;
}
.-danger {
  background-color: $brand-crimson;
}

.doc-top-space {
  @include margin(top,$def-margin);
}
.doc-top-space-large {
  @include margin(top,$large-margin);
}
.doc-bottom-space {
  @include margin(bottom,$def-margin);
}
.doc-bottom-space-large {
  @include margin(bottom,$large-margin);
}
