.alert {
  padding: 20px 15px;
	position: relative;
	color: $brand-white;
  border-radius: $border-radius-base;

  &.-emerald {
    background-color: $brand-emerald;
  }

  &.-sky {
    background-color : $brand-sky;
  }

  &.-sun {
    background-color : $brand-sun;
  }

  &.-crimson {
    background-color: $brand-crimson;
  }

  &.-large {
    padding: 30px 15px;
  }

  &.-block {
    border: 0;
    border-radius: 0;
  }
}

