.alert {
  padding: 10px 20px;
	margin: 10px;
	position: relative;
	color: $brand-white;
}

.-success {
  background-color: $brand-emerald;
}
.-info {
  background-color : $brand-blue;
}
.-warning {
  background-color : $brand-sun;
}
.-danger {
  background-color: $brand-crimson;
}
