@mixin badge-variant($bg, $color: $brand-white) {
  color: $color;
  background-color: $bg;
}


.badge {
  display: inline-block;
  padding: 0px 7px;
  border-radius: 10px;

  &.-default {
    @include label-variant($brand-gray);
  }

  &.-primary {
    @include label-variant($brand-blue);
  }

  &.-crimson {
    @include label-variant($brand-crimson);
  }

  &.-emerald {
    @include label-variant($brand-emerald);
  }

  &.-sky {
    @include label-variant($brand-sky);
  }

   &.-sun {
    @include label-variant($brand-sun);
  }
}
