@mixin badges-variant($bg, $color: $brand-white) {
  color: $color;
  background-color: $bg;
}


.badges {
  @include clearfix;
  display: inline-block;
  padding: 0px 7px;
  border-radius: 10px;
  // For changes in modifiers
  transition: 0.15s all;

   &.-bordered {
    @include label-variant($brand-gray);
  }

  &.-primary {
    @include label-variant($brand-blue);
  }

  &.-crimson {
    @include label-variant($brand-crimson);
  }

  &.-emerald {
    @include label-variant($brand-emerald);
  }

  &.-sky {
    @include label-variant($brand-sky);
  }

   &.-sun {
    @include label-variant($brand-sun);
  }

}
