@mixin btn-variant($local-bg, $local-color) {
  color: $local-color;
  background: $local-bg;
  border: 2px solid $local-bg;

  &:hover,
  &:focus {
    color: $local-color;
    background: darken($local-bg, 5%);
  }
}

@mixin btn-variant-inverted($local-color, $local-bg: $brand-white) {
  color: $local-color;
  background: $local-bg;
  border: 2px solid $local-color;

  &:hover,
  &:focus {
    color: $local-bg;
    background: $local-color;
    border: 2px solid $local-color;
  }
}


.btn {
  display: inline-block;
  border: 1px solid transparent;
  // Size
  padding: 0 20px;
  // Supposedly the same as above, but for some reason,
  // Montserrat looks like it's not centered when it's
  // the same values
  line-height: 30px;
  font-size: $font-size-base;
  border-radius: $border-radius-base;
  outline: none; /* remove native outline */
  cursor: pointer;

  /* for &.-hidden modifier */
  opacity: 1;

  transition: 0.1s all;

  &.-default { @include btn-variant($brand-gray, $brand-black); }

  &.-sky { @include btn-variant($brand-sky, $brand-white); }

  &.-emerald { @include btn-variant($brand-emerald, $brand-white); }

  &.-crimson { @include btn-variant($brand-crimson, $brand-white); }

  &.-sun { @include btn-variant($brand-sun, $brand-white); }

  &.-inverted {
    &.-default { @include btn-variant-inverted($brand-gray); }

    &.-sky { @include btn-variant-inverted($brand-sky); }

    &.-emerald { @include btn-variant-inverted($brand-emerald); }

    &.-sun { @include btn-variant-inverted($brand-sun); }

    &.-crimson { @include btn-variant-inverted($brand-crimson); }
  }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    color: lighten($brand-black, 20%);
    background: $brand-gray;
  }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-xs {
    height: 25px;
    padding: 0px 10px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-small {
    height: 30px;
    padding: 5px 15px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-large {
    height: 40px;
    padding: 0 25px;
    font-size: $tiny;
    line-height: $line-height-base;
  }

  /* for hiding; basic transition */
  &.-hidden {
    opacity: 0;
  }

  // Incline to the top for a little.
  // Useful for our navs, wizard-footer, etc
  &.-top {
    margin-top: -6px;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
  }

  > .pre-icon {
    margin-right: 10px;
  }

  > .post-icon {
    margin-left: 10px;
  }

  & + & {
    margin-right: 10px;
    margin-left: 10px;
  }
}
