@mixin btn-variant($local-bg, $local-color: $brand-white) {
  color: $local-color;
  background: $local-bg;

  &:hover,
  &:focus {
    color: $local-color;
    background: darken($local-bg, 20%);
  }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    background: lighten($local-bg, 20%);
  }
}

@mixin btn-variant-inverted($local-color, $local-bg: $brand-white) {
  color: $local-color;
  background: $local-bg;
  border: 1px solid $local-color;

  &:hover,
  &:focus {
    color: darken($local-bg, 5%);
    background: $local-color;
    border: 1px solid $local-color;
  }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    color: lighten($local-bg, 20%);
    border-color: lighten($local-bg, 20%);
  }
}


.btn {
  display: inline-block;

  // Size
  padding: 0 20px;
  height: 32px;
  // Supposedly the same as above, but for some reason,
  // Montserrat looks like it's not centered when it's
  // the same values
  line-height: 30px;
  font-size: $font-size-base;
  color: $brand-white;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  background: $brand-emerald;
  outline: none; /* remove native outline */
  cursor: pointer;

  /* for &.-hidden modifier */
  opacity: 1;

  transition: 0.1s all;

  &:hover {
    text-decoration: none !important;
    background: $brand-gray-dk;
    transition: 0.15s all;
  }

  &:focus {
    background: $brand-emerald-dk;
  }

  &.-inverted {
    color: $brand-black;
    background: $brand-white;
    border: 1px solid $brand-black;
    &:hover, 
    &:focus {
      color: $brand-white;
      background: $brand-emerald;
      border: 1px solid $brand-emerald;
    }

    &.-crimson { @include btn-variant-inverted($brand-crimson); }
    &.-sun { @include btn-variant-inverted($brand-sun); }
    &.-sky { @include btn-variant-inverted($brand-sky); }
    &.-emerald { @include btn-variant-inverted($brand-emerald); }
  }

  &.-default {
    @include btn-variant($brand-gray);
  }

  &.-crimson {
    @include btn-variant($brand-crimson);
  }

  &.-sky {
    @include btn-variant($brand-sky);
  }

  &.-emerald {
    @include btn-variant($brand-emerald);
  }

  &.-sun {
    @include btn-variant($brand-sun);
  }

  &.-block {
    display: block;
    width: 100%;
  }


  &.-extra-small {
    height: 22px;
    padding: 0 8px;
    line-height: 22px;
  }
  &.-small {
    height: 30px;
    padding: 0 15px;
  }

  &.-large {
    height: 44px;
    padding: 0 25px;
  }

  /* for hiding; basic transition */
  &.-hidden {
    opacity: 0;
  }

  // Incline to the top for a little.
  // Useful for our navs, wizard-footer, etc
  &.-top {
    margin-top: -6px;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
    background: $brand-gray;
  }

  > .pre-icon {
    margin-right: 10px;
  }

  > .post-icon {
    margin-left: 10px;
  }

  // & + & {
  //   margin-right: 10px;
  //   margin-left: 10px;
  // }

<<<<<<< HEAD
  // &.-bordered {
  //   color: $gray;
  //   background: transparent;
  //   border: 1px solid $gray;
  // }
}
=======
}

.btn-group {
  .btn + .btn{
    margin-right: 0px;
    margin-left: 0px;
  }
  .btn {
    border-radius: 0px;
    border: 1px solid $brand-white;
  }
  .btn:first-child {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
  .btn:last-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

}
>>>>>>> d5e4feafa75d3e23d37a445337aeb579a78721f7
