// @mixin btn-variant($local-bg, $local-color: $white) {
//   color: $local-color;
//   background: $local-bg;

//   &:hover {
//     color: $local-color;
//     background: darken($local-bg, 5%);
//   }

//   &.-disabled,
//   &:disabled,
//   &.-disabled:hover,
//   &:disabled:hover {
//     background: lighten($local-bg, 20%);
//   }
// }

// @mixin btn-variant-bordered($local-bg, $local-color: $white) {
//   color: $local-bg;
//   background: transparent;
//   border-color: $local-bg;

//   &:hover {
//     color: darken($local-bg, 5%);
//     background: transparent;
//     border-color: darken($local-bg, 5%);
//   }

//   &.-disabled,
//   &:disabled,
//   &.-disabled:hover,
//   &:disabled:hover {
//     color: lighten($local-bg, 20%);
//     border-color: lighten($local-bg, 20%);
//   }
// }


.btn {
  display: inline-block;

  // Size
  padding: 0 20px;
  height: 32px;
  // Supposedly the same as above, but for some reason,
  // Montserrat looks like it's not centered when it's
  // the same values
  line-height: 30px;
  font-size: $font-size-base;
  color: $brand-white;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  background: $brand-gray;
  outline: none; /* remove native outline */
  cursor: pointer;

  /* for &.-hidden modifier */
  opacity: 1;

  transition: 0.1s all;

  &:hover {
    text-decoration: none !important;
    background: $brand-gray-dk;
    transition: 0.15s all;
  }

  &.-info {
    &:hover {
      background-color : $brand-blue-dk;
    }
  }

  &.-success {
    &:hover {
      background-color : $brand-emerald-dk;
    }
  }

  &.-warning {
    &:hover {
      background-color : $brand-sun-dk;
    }
  }

  &.-danger {
    &:hover {
      background-color : $brand-crimson-dk;
    }
  }

  &.-block {
    display: block;
    width: 100%;
  }


  &.-extra-small {
    height: 22px;
    padding: 0 8px;
    line-height: 22px;
  }
  &.-small {
    height: 30px;
    padding: 0 15px;
  }

  &.-large {
    height: 44px;
    padding: 0 25px;
  }

  /* for hiding; basic transition */
  &.-hidden {
    opacity: 0;
  }

  // Incline to the top for a little.
  // Useful for our navs, wizard-footer, etc
  &.-top {
    margin-top: -6px;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
  }

  > .pre-icon {
    margin-right: 10px;
  }

  > .post-icon {
    margin-left: 10px;
  }

  & + & {
    margin-right: 10px;
    margin-left: 10px;
  }

}

.btn-group {
  .btn + .btn{
    margin-right: 0px;
    margin-left: 0px;
  }
  .btn {
    border-radius: 0px;
    border: 1px solid #E7E7E7;
  }
  .btn:first-child {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
  .btn:last-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

}
