@mixin btn-variant($local-bg, $local-color) {
  color: $local-color;
  background: $local-bg;
  border: 1px solid $local-bg;

  &:hover,
  &:focus {
    color: $local-color;
    background: darken($local-bg, 5%);
  }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    background: lighten($local-bg, 20%);
  }
}

// @mixin btn-variant-bordered($local-bg, $local-color: $white) {
//   color: $local-bg;
//   background: transparent;
//   border-color: $local-bg;

//   &:hover {
//     color: darken($local-bg, 5%);
//     background: transparent;
//     border-color: darken($local-bg, 5%);
//   }

//   &.-disabled,
//   &:disabled,
//   &.-disabled:hover,
//   &:disabled:hover {
//     color: lighten($local-bg, 20%);
//     border-color: lighten($local-bg, 20%);
//   }
// }


.btn {
  display: inline-block;
  background: $brand-gray;
  color: $brand-black;
  border: 1px solid transparent;
  // Size
  padding: 0 20px;
  // Supposedly the same as above, but for some reason,
  // Montserrat looks like it's not centered when it's
  // the same values
  line-height: 30px;
  font-size: $font-size-base;
  border-radius: $border-radius-base;
  outline: none; /* remove native outline */
  cursor: pointer;

  /* for &.-hidden modifier */
  opacity: 1;

  transition: 0.1s all;

  &:hover,
  &:focus {
    text-decoration: none !important;
    transition: 0.15s all;
  }

  &.-default { @include btn-variant($brand-gray, $brand-black); }

  &.-sky { @include btn-variant($brand-sky, $brand-white); }

  &.-emerald { @include btn-variant($brand-emerald, $brand-white); }

  &.-crimson { @include btn-variant($brand-crimson, $brand-white); }

  &.-sun { @include btn-variant($brand-sun, $brand-white); }

  // &.-danger {
  //   @include btn-variant($crimson);
  // }

  // &.-info {
  //   @include btn-variant($aqua);
  // }

  // &.-success {
  //   @include btn-variant($leaf);
  // }

  // &.-warning {
  //   @include btn-variant($sun, $black);
  // }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-xs {
    padding: 1px 5px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-small {
    padding: 5px 10px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-large {
    padding: 10px 16px;
    font-size: $tiny;
    line-height: $line-height-base;
  }

  /* for hiding; basic transition */
  &.-hidden {
    opacity: 0;
  }

  // Incline to the top for a little.
  // Useful for our navs, wizard-footer, etc
  &.-top {
    margin-top: -6px;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
  }

  > .pre-icon {
    margin-right: 10px;
  }

  > .post-icon {
    margin-left: 10px;
  }

  & + & {
    margin-right: 10px;
    margin-left: 10px;
  }

  // &.-bordered {
  //   color: $gray;
  //   background: transparent;
  //   border: 1px solid $gray;
  // }
}
