@mixin btn-variant($local-bg, $local-color: $brand-white) {
  color: $local-color;
  background: $local-bg;

  &:hover,
  &:focus {
    color: $local-color;
    background: darken($local-bg, 5%);
  }
}

@mixin btn-variant-inverted($local-color, $local-bg: $brand-white) {
  color: $local-color;
  background: $local-bg;
  border-color: $local-color;

  &:hover,
  &:focus {
    color: $local-bg;
    background: $local-color;
  }
}


.btn {
  display: inline-block;
  border: 1px solid transparent;
  // Size
  padding: 0 20px;
  // Supposedly the same as above, but for some reason,
  // Montserrat looks like it's not centered when it's
  // the same values
  line-height: 30px;
  font-size: $font-size-base;
  border-radius: $border-radius-base;
  outline: none; /* remove native outline */
  cursor: pointer;
  transition: 0.1s all;

  &.-default { @include btn-variant($brand-gray, $brand-black); }
  &.-primary { @include btn-variant($brand-primary); }
  &.-sky { @include btn-variant($brand-sky); }
  &.-emerald { @include btn-variant($brand-emerald); }
  &.-crimson { @include btn-variant($brand-crimson); }
  &.-sun { @include btn-variant($brand-sun); }

  &.-inverted.-default { @include btn-variant-inverted($brand-gray); }
  &.-inverted.-primary { @include btn-variant-inverted($brand-primary); }
  &.-inverted.-sky { @include btn-variant-inverted($brand-sky); }
  &.-inverted.-emerald { @include btn-variant-inverted($brand-emerald); }
  &.-inverted.-sun { @include btn-variant-inverted($brand-sun); }
  &.-inverted.-crimson { @include btn-variant-inverted($brand-crimson); }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    color: lighten($brand-black, 20%);
    background: $brand-gray;
  }

  &.-block {
    display: block;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto!important;
  }

  &.-xs {
    height: 25px;
    padding: 0px 10px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-small {
    height: 30px;
    padding: 5px 15px;
    font-size: $mini;
    line-height: $line-height-base;
  }

  &.-large {
    height: 40px;
    padding: 0 25px;
    font-size: $tiny;
    line-height: $line-height-base;
  }

  &.-rounded {
    border-radius: $border-radius-rounded;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
  }

  > .pre-icon {
    margin-right: 10px;
  }

  > .post-icon {
    margin-left: 10px;
  }

  & + & {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.btn-group {
  &.-rounded > .btn {
    border-radius: $border-radius-rounded;
  }

  > .btn {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
