.dropdown {
  z-index: 999;
  position: absolute;

  .menu {
    margin: 2px 0 0;
    padding: 5px 0;
    min-width: 160px;

    background: #fff;
    border: 1px solid $brand-gray-dk;
    border-radius: $border-radius-base;
  }

  .menu > a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    color: $brand-black;
  }

  .menu > a,
  .menu > a:hover {
    text-decoration: none;
  }

  .menu > a:hover,
  .menu > a.-active {
    background: $brand-gray;
  }

  .menu > a.-disabled {
    color: $brand-gray;
    cursor: not-allowed;
  }
}
