@mixin form-variant($color) {
  &,
  &:focus {
    border-color: $color;
  }
}

.form-control {
  width: 100%;
  min-height: 34px;
  padding: 7px 8px;
  vertical-align: middle;
  background-color: $brand-white;
  border: 1px solid $brand-gray;
  border-radius: $border-radius-base;
  outline: none;

  &:focus {
    border-color: $brand-sky;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
    background: $brand-gray-lt;
  }

  &.-sky {
    @include form-variant($brand-sky);
  }

  &.-emerald {
    @include form-variant($brand-emerald);
  }

  &.-crimson {
    @include form-variant($brand-crimson);
  }

  &.-sun {
    @include form-variant($brand-sun);
  }
}

select.form-control {
  height: 34px;
}
