// @mixin label-size($local-size, $local-font-size) {
//   height: $local-size;
//   line-height: $local-size;
//   font-size: #{$local-font-size}em;
// }

@mixin label-variant($bg, $color: $brand-white) {
  color: $color;
  background-color: $bg;
}

.label {
  @include clearfix;
  display: inline-block;
  height: $medium;
  line-height: $medium; /* center text */
  padding: 0px 10px;
  color: $brand-white;
  background: $brand-gray;
  border-radius: $border-radius-base;

  &.-bordered {
    @include label-variant($brand-gray);
  }

  &.-primary {
    @include label-variant($brand-primary);
  }

  &.-sky {
    @include label-variant($brand-sky);
  }

  &.-emerald {
    @include label-variant($brand-emerald);
  }

   &.-sun {
    @include label-variant($brand-sun);
  }

  &.-crimson {
    @include label-variant($brand-crimson);
  }
}
