@mixin panel-variant($bg, $color) {
	border: 1px solid $bg;
	color: $color;
	& > .heading {
		background: $bg;
		padding: 10px 15px;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	}	

	& > .body {
		padding: 15px;
		color: $brand-black;
	}

	& > .footer {
		background: $bg;
		padding: 10px 15px;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	}
}

.panel {
	background: $brand-white;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);

	&.-default {
		@include panel-variant($brand-gray, $brand-black);
	}

	&.-sky {
		@include panel-variant($brand-sky, $brand-white);
	}

	&.-emerald {
		@include panel-variant($brand-emerald, $brand-white);
	}

	&.-sun {
		@include panel-variant($brand-sun, $brand-white);
	}

	&.-crimson  {
		@include panel-variant($brand-crimson, $brand-white);
	}
}