@mixin panel-variant($bg, $color: $brand-white) {
	border-color: $bg;

	& > .heading {
		background: $bg;
    color: $color;
	}

	& > .footer {
		background: $bg;
    color: $color;
	}
}

.panel {
  color: $brand-black;
	background: $brand-white;
  border: 1px solid;
	border-radius: 5px;

  > .heading {
    padding: 10px 15px;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  > .body {
    padding: 15px;
  }

  > .footer {
    padding: 10px 15px;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

	&.-default {
		@include panel-variant($brand-gray);
	}

  &.-primary {
    @include panel-variant($brand-blue);
  }

	&.-sky {
		@include panel-variant($brand-sky);
	}

	&.-emerald {
		@include panel-variant($brand-emerald);
	}

	&.-sun {
		@include panel-variant($brand-sun);
	}

	&.-crimson  {
		@include panel-variant($brand-crimson);
	}
}
