.slate {
	padding: 30px;
  text-align: center;
  color: $brand-gray-dk;
  background: $brand-gray-lt;
  border-radius: $border-radius-base;

	&.-spacious {
		padding: 60px;
	}

  &.-narrow {
    width: 50%;
  }

  &.-controlled {
    width: 35%;
  }

	&.-centered {
		margin: 0px auto;
	}

	&.-plain {
		background: $brand-white;
	}
}
