.slate {
	padding: 30px;
  text-align: center;
  color: $brand-gray-dk;
  background: $brand-gray-lt;
  border-radius: $border-radius-base;

	&.-spacious {
		padding: 60px;
	}

	&.-plain {
		background: $brand-white;
	}
}
