@mixin form-variant($color) {
  &,
  &:focus {
    border-color: $color;
  }
}

.form-control {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 7px 8px;
  vertical-align: middle;
  background-color: $brand-white;
  border: 1px solid $brand-black;
  border-radius: $border-radius-base;
  outline: none;

  &:focus {
    border-color: $brand-sky;
  }

  &.-disabled,
  &:disabled {
    color: $brand-gray;
    border-color: $brand-gray-lt;
    cursor: not-allowed;
  }

  &.-sky {
    @include form-variant($brand-sky);
  }

  &.-emerald {
    @include form-variant($brand-emerald);
  }

  &.-crimson {
    @include form-variant($brand-crimson);
  }

  &.-sun {
    @include form-variant($brand-sun);
  }
}

.form-group {
  position: relative;
}

.form-group .form-control + .message {
  position: absolute;
  top: 40px;
  z-index: 9999;
  visibility: hidden;
  max-width: 220px;
  text-align: center;
  color: #FFFFFF;
  line-height: 2;
  background: $brand-crimson;
  height: auto;
  border-radius: 5px;
}

.form-group .form-control + .message:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid $brand-crimson;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.form-group .form-control:focus + .message {
  visibility: visible;
}


// fix issue with <select> padding
select.form-control {
  height: 34px;
}

label {
  width: 100%;
  display: inline-block;
}

// form containers
.form-group {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;

  > .form-control:first-child,
  > .addon:first-child,
  > .addon.-btn:first-child > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .form-control:last-child,
  > .addon:last-child,
  > .addon.-btn:last-child > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .form-control:not(:first-child):not(:last-child),
  > .addon:not(:first-child):not(:last-child),
  > .addon:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }

  > .form-control,
  > .addon {
    display: table-cell;
  }

  > .form-control {
    z-index: 2;
    float: left;
    width: 100%;
  }

  > .addon {
    z-index: 1;
    width: 1%;
    padding: 0 8px;
    min-height: $form-size;
    background: $brand-gray-lt;
    border: 1px solid $brand-gray;
    border-radius: $border-radius-base;
    vertical-align: middle;
  }

  > .addon:first-child {
    border-right: 0;
  }

  > .addon:last-child {
    border-left: 0;
  }

  > .addon.-btn {
    padding: 0;
  }
}
