
/*
<div class="table">
  <table>
  </table>
</div>
*/
th,
td {
  text-align: left; /* yea */
}

table {
  & {
    width: 100%;
    max-width: 100%;
    background: $brand-white;
  }

  &.-striped > tbody > tr:nth-child(odd) > td {
    background: $brand-gray;
  }

  &.-striped > tbody > tr:nth-child(even) > td {
    background: $brand-white;
  }

tbody > tr.-sky { background: $brand-sky; }
tbody > tr.-emerald { background: $brand-emerald; }
tbody > tr.-sun { background: $brand-sun; }
tbody > tr.-crimson { background: $brand-crimson; }

  // &.-striped.-hovered > tbody > tr:hover > td {
    // background: $off-gray;
    // border-left-color: $off-gray;
  // }

  & > thead > tr > th,
  & > tbody > tr > td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  & > thead > tr + tr > th {
    padding-top: 0;
  }

  &.-bordered > thead > tr > th:not(:first-child),
  &.-bordered > tbody > tr > td:not(:first-child) {
    border-left: 2px solid $brand-gray;
  }

  &.-bordered > thead > tr > th:first-child,
  &.-bordered > tbody > tr > td:first-child {
    border-left: 2px solid $brand-gray;
  }

  &.-bordered > thead > tr > th:last-child, 
  &.-bordered > tbody > tr > td:last-child {
    border-right: 2px solid $brand-gray;
  }

  & > thead > tr.-link:hover,
  & > tbody > tr.-link:hover {
    cursor: pointer;
    background: $brand-gray;
  }


  & > thead > tr > th.-align-right,
  & > tbody > tr > td.-align-right {
    text-align: right;
  }

  & > thead > tr > th.-align-center,
  & > tbody > tr > td.-align-center {
    text-align: center;
  }

  & > thead > tr > th.-align-middle,
  & > tbody > tr > td.-align-middle {
    vertical-align: top;
  }

  // & > thead > tr > th.-info,
  // & > tbody > tr > td.-info {
  //   background: $brand-sky;
  // }

  // & > thead > tr > th.-danger,
  // & > tbody > tr > td.-danger {
  //   background: $brand-crimson;
  // }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}