@mixin proxima() {
  font-family: "proxima-nova", Helvetica, "Helvetica Neue", sans-serif, serif;
}

// for typography, mostly
@mixin vertical-rhythm() {
  margin-top: 0;
  margin-bottom: ($medium / 2);
}

h1, h2, h3, h4, h5, h6
p, blockquote {
  @include vertical-rhythm;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-tint {
  &.-info {
    color: $brand-sky;
  }

  &.-danger {
    color: $brand-crimson;
  }

  &.-success {
    color: $brand-emerald;
  }

  &.-gray {
    color: $brand-gray-dk;
  }
}
