$icon-cart3: "\e600";
$icon-celebrity: "\e605";
$icon-entertainment: "\ea42";
$icon-food: "\ea43";
$icon-gizmo: "\ea44";
$icon-grab2: "\ea45";
$icon-home5: "\ea46";
$icon-lifestyle: "\ea47";
$icon-power3: "\ea48";
$icon-tools: "\ea49";
$icon-user3: "\ea4a";
$icon-voucher: "\ea4b";
$icon-wellness: "\ea4c";
$icon-home4: "\e857";
$icon-home2: "\e858";
$icon-home3: "\e859";
$icon-office: "\e85a";
$icon-newspaper2: "\e85b";
$icon-pencil3: "\e85c";
$icon-pencil2: "\e85d";
$icon-quill: "\e85e";
$icon-pen: "\e85f";
$icon-blog: "\e860";
$icon-eyedropper: "\e861";
$icon-droplet: "\e862";
$icon-paint-format: "\e863";
$icon-image2: "\e864";
$icon-images: "\e865";
$icon-camera2: "\e866";
$icon-headphones: "\e867";
$icon-music: "\e868";
$icon-play4: "\e869";
$icon-film2: "\e86a";
$icon-video-camera: "\e86b";
$icon-dice2: "\e86c";
$icon-pacman: "\e86d";
$icon-spades: "\e86e";
$icon-clubs: "\e86f";
$icon-diamonds: "\e870";
$icon-bullhorn: "\e871";
$icon-connection: "\e872";
$icon-podcast: "\e873";
$icon-feed: "\e874";
$icon-mic2: "\e875";
$icon-book2: "\e876";
$icon-books: "\e877";
$icon-library: "\e878";
$icon-file-text: "\e879";
$icon-profile2: "\e87a";
$icon-file-empty: "\e87b";
$icon-files-empty: "\e87c";
$icon-file-text2: "\e87d";
$icon-file-picture: "\e87e";
$icon-file-music: "\e87f";
$icon-file-play: "\e880";
$icon-file-video: "\e881";
$icon-file-zip: "\e882";
$icon-copy2: "\e883";
$icon-paste: "\e884";
$icon-stack: "\e885";
$icon-folder2: "\e886";
$icon-folder-open: "\e887";
$icon-folder-plus: "\e888";
$icon-folder-minus: "\e889";
$icon-folder-download: "\e88a";
$icon-folder-upload: "\e88b";
$icon-price-tag: "\e88c";
$icon-price-tags: "\e88d";
$icon-barcode: "\e88e";
$icon-qrcode: "\e88f";
$icon-ticket: "\e890";
$icon-cart2: "\e891";
$icon-coin-dollar: "\e892";
$icon-coin-euro: "\e893";
$icon-coin-pound: "\e894";
$icon-coin-yen: "\e895";
$icon-credit-card: "\e896";
$icon-calculator2: "\e897";
$icon-lifebuoy: "\e898";
$icon-phone3: "\e899";
$icon-phone-hang-up: "\e89a";
$icon-address-book: "\e89b";
$icon-envelop: "\e89c";
$icon-pushpin: "\e89d";
$icon-location3: "\e89e";
$icon-location2: "\e89f";
$icon-compass3: "\e8a0";
$icon-compass2: "\e8a1";
$icon-map: "\e8a2";
$icon-map2: "\e8a3";
$icon-history: "\e8a4";
$icon-clock: "\e8a5";
$icon-clock2: "\e8a6";
$icon-alarm2: "\e8a7";
$icon-bell2: "\e8a8";
$icon-stopwatch2: "\e8a9";
$icon-calendar2: "\e8aa";
$icon-printer: "\e8ab";
$icon-keyboard3: "\e8ac";
$icon-display: "\e8ad";
$icon-laptop2: "\e8ae";
$icon-mobile: "\e8af";
$icon-mobile2: "\e8b0";
$icon-tablet: "\e8b1";
$icon-tv2: "\e8b2";
$icon-drawer3: "\e8b3";
$icon-drawer2: "\e8b4";
$icon-box-add: "\e8b5";
$icon-box-remove: "\e8b6";
$icon-download4: "\e8b7";
$icon-upload4: "\e8b8";
$icon-floppy-disk: "\e8b9";
$icon-drive: "\e8ba";
$icon-database: "\e8bb";
$icon-undo3: "\e8bc";
$icon-redo3: "\e8bd";
$icon-undo22: "\e8be";
$icon-redo22: "\e8bf";
$icon-forward4: "\e8c0";
$icon-reply: "\e8c1";
$icon-bubble: "\e8c2";
$icon-bubbles: "\e8c3";
$icon-bubbles2: "\e8c4";
$icon-bubble2: "\e8c5";
$icon-bubbles3: "\e8c6";
$icon-bubbles4: "\e8c7";
$icon-user2: "\e8c8";
$icon-users: "\e8c9";
$icon-user-plus: "\e8ca";
$icon-user-minus: "\e8cb";
$icon-user-check: "\e8cc";
$icon-user-tie: "\e8cd";
$icon-quotes-left: "\e8ce";
$icon-quotes-right: "\e8cf";
$icon-hour-glass: "\e8d0";
$icon-spinner: "\e8d1";
$icon-spinner2: "\e8d2";
$icon-spinner3: "\e8d3";
$icon-spinner4: "\e8d4";
$icon-spinner5: "\e8d5";
$icon-spinner6: "\e8d6";
$icon-spinner7: "\e8d7";
$icon-spinner8: "\e8d8";
$icon-spinner9: "\e8d9";
$icon-spinner10: "\e8da";
$icon-spinner11: "\e8db";
$icon-binoculars: "\e8dc";
$icon-search: "\e8dd";
$icon-zoom-in2: "\e8de";
$icon-zoom-out2: "\e8df";
$icon-enlarge: "\e8e0";
$icon-shrink: "\e8e1";
$icon-enlarge2: "\e8e2";
$icon-shrink2: "\e8e3";
$icon-key3: "\e8e4";
$icon-key2: "\e8e5";
$icon-lock2: "\e8e6";
$icon-unlocked: "\e8e7";
$icon-wrench2: "\e8e8";
$icon-equalizer: "\e8e9";
$icon-equalizer2: "\e8ea";
$icon-cog: "\e8eb";
$icon-cogs: "\e8ec";
$icon-hammer: "\e8ed";
$icon-magic-wand2: "\e8ee";
$icon-aid-kit2: "\e8ef";
$icon-bug2: "\e8f0";
$icon-pie-chart: "\e8f1";
$icon-stats-dots: "\e8f2";
$icon-stats-bars: "\e8f3";
$icon-stats-bars2: "\e8f4";
$icon-trophy2: "\e8f5";
$icon-gift2: "\e8f6";
$icon-glass: "\e8f7";
$icon-glass2: "\e8f8";
$icon-mug2: "\e8f9";
$icon-spoon-knife: "\e8fa";
$icon-leaf: "\e8fb";
$icon-rocket: "\e8fc";
$icon-meter: "\e8fd";
$icon-meter2: "\e8fe";
$icon-hammer2: "\e8ff";
$icon-fire: "\e900";
$icon-lab: "\e901";
$icon-magnet2: "\e902";
$icon-bin: "\e903";
$icon-bin2: "\e904";
$icon-briefcase: "\e905";
$icon-airplane2: "\e906";
$icon-truck: "\e907";
$icon-road: "\e908";
$icon-accessibility: "\e909";
$icon-target2: "\e90a";
$icon-shield2: "\e90b";
$icon-power2: "\e90c";
$icon-switch: "\e90d";
$icon-power-cord: "\e90e";
$icon-clipboard: "\e90f";
$icon-list-numbered: "\e910";
$icon-list: "\e911";
$icon-list2: "\e912";
$icon-tree2: "\e913";
$icon-menu: "\e914";
$icon-menu2: "\e915";
$icon-menu3: "\e916";
$icon-menu4: "\e917";
$icon-cloud3: "\e918";
$icon-cloud-download: "\e919";
$icon-cloud-upload: "\e91a";
$icon-cloud-check: "\e91b";
$icon-download22: "\e91c";
$icon-upload22: "\e91d";
$icon-download3: "\e91e";
$icon-upload32: "\e91f";
$icon-sphere: "\e920";
$icon-earth: "\e921";
$icon-link2: "\e922";
$icon-flag2: "\e923";
$icon-attachment: "\e924";
$icon-eye2: "\e925";
$icon-eye-plus: "\e926";
$icon-eye-minus: "\e927";
$icon-eye-blocked: "\e928";
$icon-bookmark2: "\e929";
$icon-bookmarks: "\e92a";
$icon-sun2: "\e92b";
$icon-contrast: "\e92c";
$icon-brightness-contrast: "\e92d";
$icon-star-empty: "\e92e";
$icon-star-half: "\e92f";
$icon-star-full: "\e930";
$icon-heart2: "\e931";
$icon-heart-broken: "\e932";
$icon-man: "\e933";
$icon-woman: "\e934";
$icon-man-woman: "\e935";
$icon-happy3: "\e936";
$icon-happy2: "\e937";
$icon-smile3: "\e938";
$icon-smile2: "\e939";
$icon-tongue: "\e93a";
$icon-tongue2: "\e93b";
$icon-sad3: "\e93c";
$icon-sad2: "\e93d";
$icon-wink: "\e93e";
$icon-wink2: "\e93f";
$icon-grin: "\e940";
$icon-grin2: "\e941";
$icon-cool: "\e942";
$icon-cool2: "\e943";
$icon-angry: "\e944";
$icon-angry2: "\e945";
$icon-evil: "\e946";
$icon-evil2: "\e947";
$icon-shocked: "\e948";
$icon-shocked2: "\e949";
$icon-baffled: "\e94a";
$icon-baffled2: "\e94b";
$icon-confused3: "\e94c";
$icon-confused2: "\e94d";
$icon-neutral: "\e94e";
$icon-neutral2: "\e94f";
$icon-hipster: "\e950";
$icon-hipster2: "\e951";
$icon-wondering: "\e952";
$icon-wondering2: "\e953";
$icon-sleepy: "\e954";
$icon-sleepy2: "\e955";
$icon-frustrated: "\e956";
$icon-frustrated2: "\e957";
$icon-crying: "\e958";
$icon-crying2: "\e959";
$icon-point-up: "\e95a";
$icon-point-right: "\e95b";
$icon-point-down: "\e95c";
$icon-point-left: "\e95d";
$icon-warning: "\e95e";
$icon-notification: "\e95f";
$icon-question: "\e960";
$icon-plus3: "\e961";
$icon-minus3: "\e962";
$icon-info2: "\e963";
$icon-cancel-circle: "\e964";
$icon-blocked: "\e965";
$icon-cross: "\e966";
$icon-checkmark: "\e967";
$icon-checkmark2: "\e968";
$icon-spell-check: "\e969";
$icon-enter: "\e96a";
$icon-exit: "\e96b";
$icon-play22: "\e96c";
$icon-pause3: "\e96d";
$icon-stop3: "\e96e";
$icon-previous3: "\e96f";
$icon-next3: "\e970";
$icon-backward3: "\e971";
$icon-forward22: "\e972";
$icon-play3: "\e973";
$icon-pause2: "\e974";
$icon-stop2: "\e975";
$icon-backward22: "\e976";
$icon-facebook2: "\e977";
$icon-forward3: "\e978";
$icon-first: "\e979";
$icon-last: "\e97a";
$icon-previous2: "\e97b";
$icon-next2: "\e97c";
$icon-eject: "\e97d";
$icon-volume-high: "\e97e";
$icon-volume-medium: "\e97f";
$icon-volume-low: "\e980";
$icon-volume-mute3: "\e981";
$icon-volume-mute2: "\e982";
$icon-volume-increase: "\e983";
$icon-volume-decrease: "\e984";
$icon-loop: "\e985";
$icon-loop2: "\e986";
$icon-infinite: "\e987";
$icon-shuffle2: "\e988";
$icon-arrow-up-left: "\e989";
$icon-arrow-up: "\e98a";
$icon-arrow-up-right: "\e98b";
$icon-arrow-right: "\e98c";
$icon-arrow-down-right: "\e98d";
$icon-arrow-down: "\e98e";
$icon-arrow-down-left: "\e98f";
$icon-arrow-left: "\e990";
$icon-arrow-up-left2: "\e991";
$icon-arrow-up2: "\e992";
$icon-arrow-up-right2: "\e993";
$icon-arrow-right2: "\e994";
$icon-arrow-down-right2: "\e995";
$icon-arrow-down2: "\e996";
$icon-arrow-down-left2: "\e997";
$icon-arrow-left2: "\e998";
$icon-circle-up: "\e999";
$icon-circle-right: "\e99a";
$icon-circle-down: "\e99b";
$icon-circle-left: "\e99c";
$icon-tab2: "\e99d";
$icon-move-up: "\e99e";
$icon-move-down: "\e99f";
$icon-sort-alpha-asc: "\e9a0";
$icon-sort-alpha-desc: "\e9a1";
$icon-sort-numeric-asc: "\e9a2";
$icon-sort-numberic-desc: "\e9a3";
$icon-sort-amount-asc: "\e9a4";
$icon-sort-amount-desc: "\e9a5";
$icon-command: "\e9a6";
$icon-shift: "\e9a7";
$icon-ctrl: "\e9a8";
$icon-opt: "\e9a9";
$icon-checkbox-checked: "\e9aa";
$icon-checkbox-unchecked: "\e9ab";
$icon-radio-checked: "\e9ac";
$icon-radio-checked2: "\e9ad";
$icon-radio-unchecked: "\e9ae";
$icon-crop2: "\e9af";
$icon-make-group: "\e9b0";
$icon-ungroup: "\e9b1";
$icon-scissors: "\e9b2";
$icon-filter: "\e9b3";
$icon-font: "\e9b4";
$icon-ligature: "\e9b5";
$icon-ligature2: "\e9b6";
$icon-text-height: "\e9b7";
$icon-text-width: "\e9b8";
$icon-font-size: "\e9b9";
$icon-bold2: "\e9ba";
$icon-underline2: "\e9bb";
$icon-italic2: "\e9bc";
$icon-strikethrough: "\e9bd";
$icon-omega: "\e9be";
$icon-sigma: "\e9bf";
$icon-page-break: "\e9c0";
$icon-superscript: "\e9c1";
$icon-subscript: "\e9c2";
$icon-superscript2: "\e9c3";
$icon-subscript2: "\e9c4";
$icon-text-color: "\e9c5";
$icon-pagebreak: "\e9c6";
$icon-clear-formatting: "\e9c7";
$icon-table: "\e9c8";
$icon-table2: "\e9c9";
$icon-insert-template: "\e9ca";
$icon-pilcrow: "\e9cb";
$icon-ltr: "\e9cc";
$icon-rtl: "\e9cd";
$icon-section: "\e9ce";
$icon-paragraph-left: "\e9cf";
$icon-paragraph-center: "\e9d0";
$icon-paragraph-right: "\e9d1";
$icon-paragraph-justify: "\e9d2";
$icon-indent-increase: "\e9d3";
$icon-indent-decrease: "\e9d4";
$icon-share3: "\e9d5";
$icon-new-tab: "\e9d6";
$icon-embed: "\e9d7";
$icon-embed2: "\e9d8";
$icon-terminal: "\e9d9";
$icon-share2: "\e9da";
$icon-mail5: "\e9db";
$icon-mail2: "\e9dc";
$icon-mail3: "\e9dd";
$icon-mail4: "\e9de";
$icon-google: "\e9df";
$icon-google-plus: "\e9e0";
$icon-google-plus2: "\e9e1";
$icon-google-plus3: "\e9e2";
$icon-google-drive: "\e9e3";
$icon-facebook: "\e9e4";
$icon-facebook3: "\e9e5";
$icon-ello: "\e9e6";
$icon-instagram: "\e9e7";
$icon-twitter: "\e9e8";
$icon-twitter2: "\e9e9";
$icon-twitter3: "\e9ea";
$icon-feed2: "\e9eb";
$icon-feed3: "\e9ec";
$icon-feed4: "\e9ed";
$icon-youtube: "\e9ee";
$icon-youtube2: "\e9ef";
$icon-youtube3: "\e9f0";
$icon-youtube4: "\e9f1";
$icon-twitch: "\e9f2";
$icon-vimeo: "\e9f3";
$icon-vimeo2: "\e9f4";
$icon-vimeo3: "\e9f5";
$icon-lanyrd: "\e9f6";
$icon-flickr: "\e9f7";
$icon-flickr2: "\e9f8";
$icon-flickr3: "\e9f9";
$icon-flickr4: "\e9fa";
$icon-picassa: "\e9fb";
$icon-picassa2: "\e9fc";
$icon-dribbble: "\e9fd";
$icon-dribbble2: "\e9fe";
$icon-dribbble3: "\e9ff";
$icon-forrst: "\ea00";
$icon-forrst2: "\ea01";
$icon-deviantart: "\ea02";
$icon-deviantart2: "\ea03";
$icon-steam: "\ea04";
$icon-steam2: "\ea05";
$icon-dropbox: "\ea06";
$icon-onedrive: "\ea07";
$icon-github: "\ea08";
$icon-github2: "\ea09";
$icon-github3: "\ea0a";
$icon-github4: "\ea0b";
$icon-github5: "\ea0c";
$icon-wordpress: "\ea0d";
$icon-wordpress2: "\ea0e";
$icon-joomla: "\ea0f";
$icon-blogger: "\ea10";
$icon-blogger2: "\ea11";
$icon-tumblr: "\ea12";
$icon-tumblr2: "\ea13";
$icon-yahoo: "\ea14";
$icon-tux: "\ea15";
$icon-apple2: "\ea16";
$icon-finder: "\ea17";
$icon-android: "\ea18";
$icon-windows: "\ea19";
$icon-windows8: "\ea1a";
$icon-soundcloud: "\ea1b";
$icon-soundcloud2: "\ea1c";
$icon-skype: "\ea1d";
$icon-reddit: "\ea1e";
$icon-linkedin: "\ea1f";
$icon-linkedin2: "\ea20";
$icon-lastfm: "\ea21";
$icon-lastfm2: "\ea22";
$icon-delicious: "\ea23";
$icon-stumbleupon: "\ea24";
$icon-stumbleupon2: "\ea25";
$icon-stackoverflow: "\ea26";
$icon-pinterest: "\ea27";
$icon-pinterest2: "\ea28";
$icon-xing: "\ea29";
$icon-xing2: "\ea2a";
$icon-flattr: "\ea2b";
$icon-foursquare: "\ea2c";
$icon-paypal: "\ea2d";
$icon-paypal2: "\ea2e";
$icon-paypal3: "\ea2f";
$icon-yelp: "\ea30";
$icon-file-pdf: "\ea31";
$icon-file-openoffice: "\ea32";
$icon-file-word: "\ea33";
$icon-file-excel: "\ea34";
$icon-libreoffice: "\ea35";
$icon-html5: "\ea36";
$icon-html52: "\ea37";
$icon-css3: "\ea38";
$icon-git: "\ea39";
$icon-svg: "\ea3a";
$icon-codepen: "\ea3b";
$icon-chrome: "\ea3c";
$icon-firefox: "\ea3d";
$icon-IE: "\ea3e";
$icon-opera: "\ea3f";
$icon-safari: "\ea40";
$icon-IcoMoon: "\ea41";
$icon-grab: "\e856";
$icon-back-link-tab: "\60";
$icon-clockwise: "\e601";
$icon-counter-clock: "\e602";
$icon-cycle: "\e603";
$icon-many-way: "\e604";
$icon-new-linktab: "\2248";
$icon-refresh: "\e606";
$icon-square-back: "\e607";
$icon-square-close: "\e608";
$icon-square-cornerd: "\e609";
$icon-square-corneru: "\e60a";
$icon-square-equals: "\e60b";
$icon-square-exis: "\e60c";
$icon-square-left: "\e60d";
$icon-square-leftline: "\e60e";
$icon-square-minus: "\e60f";
$icon-square-plus: "\e610";
$icon-square-right: "\e611";
$icon-square-rightline: "\e612";
$icon-square-ud: "\e613";
$icon-tri-cycle: "\e614";
$icon-turn-back: "\e615";
$icon-turn: "\e616";
$icon-u-turn: "\e617";
$icon-way-c: "\e618";
$icon-way-c2: "\e619";
$icon-way-intersect: "\e61a";
$icon-way-lr: "\e61b";
$icon-way-y2: "\e61c";
$icon-arrow-lr: "\e61d";
$icon-backward2: "\e61e";
$icon-circular-down: "\e61f";
$icon-circular-left: "\e620";
$icon-circular-right: "\e621";
$icon-circular-up: "\e622";
$icon-cross-line: "\e623";
$icon-down-arrow: "\e624";
$icon-download2: "\e625";
$icon-forward2: "\e626";
$icon-left-arrow: "\e627";
$icon-line-2: "\e628";
$icon-line-down: "\e629";
$icon-line-down2: "\e62a";
$icon-line-left: "\e62b";
$icon-line-lr: "\e62c";
$icon-line-right: "\e62d";
$icon-line-ud: "\e62e";
$icon-line-up: "\e62f";
$icon-line-up2: "\e630";
$icon-line-upup: "\e631";
$icon-line-y: "\e632";
$icon-line1: "\e633";
$icon-move-left: "\e634";
$icon-move-right: "\e635";
$icon-right-arrow: "\e636";
$icon-spine-in: "\e637";
$icon-swipe-out: "\e638";
$icon-up-arrow: "\e639";
$icon-upload2: "\e63a";
$icon-anchor: "\e63b";
$icon-bike: "\e63c";
$icon-boat-wheel: "\e63d";
$icon-bone-dog: "\e63e";
$icon-bug: "\e63f";
$icon-butterfly: "\e640";
$icon-cactus: "\e641";
$icon-carrots: "\e642";
$icon-caserole: "\e643";
$icon-cat: "\e644";
$icon-celcius: "\e645";
$icon-done-pawn: "\e646";
$icon-drop-water: "\e647";
$icon-eye-mask: "\e648";
$icon-farenheight: "\e649";
$icon-fish: "\e64a";
$icon-flower: "\e64b";
$icon-flower2: "\e64c";
$icon-foot-prints: "\e64d";
$icon-hot-teacup: "\e64e";
$icon-icecream: "\e64f";
$icon-leaves: "\e650";
$icon-mug: "\e651";
$icon-pine: "\e652";
$icon-pizza: "\e653";
$icon-snowflake: "\e654";
$icon-spoonfork: "\e655";
$icon-tree: "\e656";
$icon-umbrella: "\e657";
$icon-wineglass: "\e658";
$icon-cloud-sound: "\e659";
$icon-cloud2: "\e65a";
$icon-cloudy: "\e65b";
$icon-compass-2: "\e65c";
$icon-crescent: "\e65d";
$icon-eclipes-full: "\e65e";
$icon-eclipes-quart: "\e65f";
$icon-eclipes-quart2: "\e660";
$icon-eclipes: "\e661";
$icon-moon-cloud: "\e662";
$icon-moon-full: "\e663";
$icon-moon-quart: "\e664";
$icon-rain: "\e665";
$icon-rainbow-cloud: "\e666";
$icon-rainbow: "\e667";
$icon-rainy: "\e668";
$icon-snow: "\e669";
$icon-snowy: "\e66a";
$icon-storm: "\e66b";
$icon-sun-cloud: "\e66c";
$icon-sun-light: "\e66d";
$icon-sun-rain: "\e66e";
$icon-sunrise: "\e66f";
$icon-sunset: "\e670";
$icon-temperatures: "\e671";
$icon-thunder: "\e672";
$icon-tornado: "\e673";
$icon-typhoon: "\e674";
$icon-wind-detect: "\e675";
$icon-windy: "\e676";
$icon-backward: "\e677";
$icon-disc: "\e678";
$icon-forward: "\e679";
$icon-guitar: "\e67a";
$icon-ipod: "\e67b";
$icon-key-note: "\e67c";
$icon-keyboard: "\e67d";
$icon-mic-2: "\e67e";
$icon-mic: "\e67f";
$icon-music-beats: "\e680";
$icon-music-file: "\e681";
$icon-music-list: "\e682";
$icon-mute: "\e683";
$icon-next: "\e684";
$icon-note: "\e685";
$icon-pause: "\e686";
$icon-play: "\e687";
$icon-play2: "\e688";
$icon-previous: "\e689";
$icon-record: "\e68a";
$icon-repeat: "\e68b";
$icon-setting-list: "\e68c";
$icon-settings-2: "\e68d";
$icon-shuffle: "\e68e";
$icon-speaker: "\e68f";
$icon-stop: "\e690";
$icon-volume-full: "\e691";
$icon-volume-lo: "\e692";
$icon-volume-mid: "\e693";
$icon-volume-mute: "\e694";
$icon-add-cart: "\e695";
$icon-atm-cart: "\e696";
$icon-bar-code: "\e697";
$icon-cart-export: "\e698";
$icon-cart-import: "\e699";
$icon-cart-wheel: "\e69a";
$icon-cart: "\e69b";
$icon-close-box: "\e69c";
$icon-close-store: "\e69d";
$icon-delete-cart: "\e69e";
$icon-deliver: "\e69f";
$icon-fast-cart: "\e6a0";
$icon-fav-cart: "\e6a1";
$icon-free: "\e6a2";
$icon-gem: "\e6a3";
$icon-loop24: "\e6a4";
$icon-new: "\e6a5";
$icon-open-box: "\e6a6";
$icon-open-store: "\e6a7";
$icon-percent: "\e6a8";
$icon-push-cart: "\e6a9";
$icon-remove-cart: "\e6aa";
$icon-sale: "\e6ab";
$icon-shop-bag-2: "\e6ac";
$icon-shop-bag: "\e6ad";
$icon-shop-minus: "\e6ae";
$icon-shopbag-add: "\e6af";
$icon-shopbag-close: "\e6b0";
$icon-spacial: "\e6b1";
$icon-store: "\e6b2";
$icon-bat-3: "\e6b3";
$icon-bat-empty: "\e6b4";
$icon-bat-full: "\e6b5";
$icon-bat-half: "\e6b6";
$icon-cloud-add: "\e6b7";
$icon-cloud-down: "\e6b8";
$icon-cloud-fail: "\e6b9";
$icon-cloud-lock: "\e6ba";
$icon-cloud-remove: "\e6bb";
$icon-cloud-up: "\e6bc";
$icon-cloud-wave: "\e6bd";
$icon-cloud: "\e6be";
$icon-clover-line: "\e6bf";
$icon-crop: "\e6c0";
$icon-diamond-line: "\e6c1";
$icon-dice: "\e6c2";
$icon-expand: "\e6c3";
$icon-heart-line: "\e6c4";
$icon-lo-bat: "\e6c5";
$icon-merge: "\e6c6";
$icon-router: "\e6c7";
$icon-rss: "\e6c8";
$icon-share: "\e6c9";
$icon-signal-wave: "\e6ca";
$icon-spade-line: "\e6cb";
$icon-wave-dot: "\e6cc";
$icon-web2: "\e6cd";
$icon-wifi-hi: "\e6ce";
$icon-wifi-lo: "\e6cf";
$icon-wifi-mid: "\e6d0";
$icon-brightness: "\e6d1";
$icon-camera: "\e6d2";
$icon-clapper: "\e6d3";
$icon-desktop: "\e6d4";
$icon-eye: "\e6d5";
$icon-film: "\e6d6";
$icon-focus-target2: "\e6d7";
$icon-foucs-target: "\e6d8";
$icon-foucus: "\e6d9";
$icon-hi-def: "\e6da";
$icon-image-many: "\e6db";
$icon-image: "\e6dc";
$icon-joystick: "\e6dd";
$icon-keyboard2: "\e6de";
$icon-laptop-2: "\e6df";
$icon-mouse: "\e6e0";
$icon-multi-polyfim: "\e6e1";
$icon-polaroid: "\e6e2";
$icon-radio: "\e6e3";
$icon-shutter: "\e6e4";
$icon-sun-small: "\e6e5";
$icon-sun: "\e6e6";
$icon-tv: "\e6e7";
$icon-uneye: "\e6e8";
$icon-upload: "\e6e9";
$icon-video-cam: "\e6ea";
$icon-video-cam2: "\e6eb";
$icon-video: "\e6ec";
$icon-view-link: "\e6ed";
$icon-web-cam: "\e6ee";
$icon-add-comment: "\e6ef";
$icon-avatar: "\e6f0";
$icon-capture: "\e6f1";
$icon-chat-bubble: "\e6f2";
$icon-chat: "\e6f3";
$icon-comment: "\e6f4";
$icon-contacts: "\e6f5";
$icon-delete-comment: "\e6f6";
$icon-dial: "\e6f7";
$icon-exchange: "\e6f8";
$icon-faq: "\e6f9";
$icon-fax: "\e6fa";
$icon-magnify-phone: "\e6fb";
$icon-mms: "\e6fc";
$icon-phone-contacts: "\e6fd";
$icon-phone-covo: "\e6fe";
$icon-phone-massege: "\e6ff";
$icon-phone-setting: "\e700";
$icon-phone: "\e701";
$icon-q-a: "\e702";
$icon-remove-comment: "\e703";
$icon-ringtone: "\e704";
$icon-sms: "\e705";
$icon-speech-bubble: "\e706";
$icon-square-convo: "\e707";
$icon-telephone-dial: "\e708";
$icon-telephone: "\e709";
$icon-touch-phone: "\e70a";
$icon-vibrate: "\e70b";
$icon-waiting-bubble: "\e70c";
$icon-call: "\e70d";
$icon-add-call: "\e70e";
$icon-call-attention: "\e70f";
$icon-call-close: "\e710";
$icon-call-conversation: "\e711";
$icon-call-minus: "\e712";
$icon-call-question: "\e713";
$icon-calling: "\e714";
$icon-drop-call: "\e715";
$icon-hashtag: "\e716";
$icon-headset: "\e717";
$icon-inbox: "\e718";
$icon-incoming-call: "\e719";
$icon-lock-call: "\e71a";
$icon-mail-add: "\e71b";
$icon-mail-attached: "\e71c";
$icon-mail-check: "\e71d";
$icon-mail-delete: "\e71e";
$icon-mail-favorite: "\e71f";
$icon-mail-heart: "\e720";
$icon-mail-letter: "\e721";
$icon-mail-receive: "\e722";
$icon-mail-remove: "\e723";
$icon-mail-sent: "\e724";
$icon-mail: "\e725";
$icon-miss-call: "\e726";
$icon-open-mail: "\e727";
$icon-outbox: "\e728";
$icon-outgoing-call: "\e729";
$icon-phone2: "\e72a";
$icon-add-user: "\e72b";
$icon-baby: "\e72c";
$icon-boy-glasses: "\e72d";
$icon-girl: "\e72e";
$icon-boy: "\e72f";
$icon-check-user: "\e730";
$icon-confused: "\e731";
$icon-delete-user: "\e732";
$icon-disabled-person: "\e733";
$icon-dual-user: "\e734";
$icon-female: "\e735";
$icon-formal-user: "\e736";
$icon-gender: "\e737";
$icon-thumbs-down: "\e738";
$icon-girl-bangs: "\e739";
$icon-thumbs-up: "\e73a";
$icon-hand-gun: "\e73b";
$icon-hand-point: "\e73c";
$icon-hand-pointing: "\e73d";
$icon-hand: "\e73e";
$icon-happy: "\e73f";
$icon-male: "\e740";
$icon-meh: "\e741";
$icon-multi-user: "\e742";
$icon-remove-user: "\e743";
$icon-sad: "\e744";
$icon-smile: "\e745";
$icon-user-admin: "\e746";
$icon-user-cycle: "\e747";
$icon-user: "\e748";
$icon-border: "\e749";
$icon-carousel: "\e74a";
$icon-close-quote: "\e74b";
$icon-open-quote: "\e74c";
$icon-open-scissors: "\e74d";
$icon-close-scissors: "\e74e";
$icon-code: "\e74f";
$icon-column: "\e750";
$icon-curly-brace: "\e751";
$icon-draw-table: "\e752";
$icon-row: "\e753";
$icon-grd-3: "\e754";
$icon-grid-2: "\e755";
$icon-grid: "\e756";
$icon-indent: "\e757";
$icon-unindent: "\e758";
$icon-right-align: "\e759";
$icon-justify: "\e75a";
$icon-center-align: "\e75b";
$icon-left-align: "\e75c";
$icon-line-space: "\e75d";
$icon-order-list: "\e75e";
$icon-undo: "\e75f";
$icon-redo: "\e760";
$icon-super-script: "\e761";
$icon-italic: "\e762";
$icon-underline: "\e763";
$icon-bold: "\e764";
$icon-unorder-list: "\e765";
$icon-word-wrap: "\e766";
$icon-aid-kit: "\e767";
$icon-apple: "\e768";
$icon-atom: "\e769";
$icon-board: "\e76a";
$icon-book-open: "\e76b";
$icon-book-stack: "\e76c";
$icon-book-top: "\e76d";
$icon-book: "\e76e";
$icon-bookmark: "\e76f";
$icon-bookmarked: "\e770";
$icon-brochure: "\e771";
$icon-bus: "\e772";
$icon-diary: "\e773";
$icon-dna: "\e774";
$icon-flyers: "\e775";
$icon-grad-certificate: "\e776";
$icon-graduation-hat: "\e777";
$icon-hospital: "\e778";
$icon-lab-beaker: "\e779";
$icon-lab-florence: "\e77a";
$icon-medical: "\e77b";
$icon-microscope: "\e77c";
$icon-newspaper: "\e77d";
$icon-notebook: "\e77e";
$icon-paint: "\e77f";
$icon-phone-book: "\e780";
$icon-stethoscope: "\e781";
$icon-thermometer: "\e782";
$icon-triangle-ruler: "\e783";
$icon-trifold-flyers: "\e784";
$icon-add-file: "\e785";
$icon-checklist: "\e786";
$icon-copy-list: "\e787";
$icon-copy: "\e788";
$icon-delete-file: "\e789";
$icon-delete-folder: "\e78a";
$icon-download-file: "\e78b";
$icon-export-folder: "\e78c";
$icon-favorite-folder: "\e78d";
$icon-folder: "\e78e";
$icon-gif: "\e78f";
$icon-import-folder: "\e790";
$icon-jpg: "\e791";
$icon-new-file: "\e792";
$icon-new-folder: "\e793";
$icon-prev-page: "\e794";
$icon-next-page: "\e795";
$icon-open-folder: "\e796";
$icon-pdf: "\e797";
$icon-png: "\e798";
$icon-doc: "\e799";
$icon-rar: "\e79a";
$icon-remove-file: "\e79b";
$icon-remove-folder: "\e79c";
$icon-search-file: "\e79d";
$icon-select-file: "\e79e";
$icon-to-do-list-left: "\e79f";
$icon-to-do-list: "\e7a0";
$icon-to-do-task: "\e7a1";
$icon-upload-file: "\e7a2";
$icon-certificate: "\e7a3";
$icon-cheque-dolar: "\e7a4";
$icon-currency: "\e7a5";
$icon-dolar-exchange: "\e7a6";
$icon-dolar-sack: "\e7a7";
$icon-dolar: "\e7a8";
$icon-dollar-coins: "\e7a9";
$icon-pound-coins: "\e7aa";
$icon-euro-coins: "\e7ab";
$icon-dollar-tag: "\e7ac";
$icon-euro-exchange: "\e7ad";
$icon-euro: "\e7ae";
$icon-exchange-rate: "\e7af";
$icon-graph-bar: "\e7b0";
$icon-graph-flactuation: "\e7b1";
$icon-graph-line: "\e7b2";
$icon-graph-point: "\e7b3";
$icon-laptop: "\e7b4";
$icon-mobile-message: "\e7b5";
$icon-money-dolar: "\e7b6";
$icon-partenon: "\e7b7";
$icon-pound-exchange: "\e7b8";
$icon-pound: "\e7b9";
$icon-presentation: "\e7ba";
$icon-savings-pig-bank: "\e7bb";
$icon-vault: "\e7bc";
$icon-wallet-card: "\e7bd";
$icon-yen-coins: "\e7be";
$icon-yen-exchange: "\e7bf";
$icon-yen: "\e7c0";
$icon-calendar: "\e7c1";
$icon-calendar-date: "\e7c2";
$icon-remove-date: "\e7c3";
$icon-add-date: "\e7c4";
$icon-brief-case: "\e7c5";
$icon-calculator: "\e7c6";
$icon-delete-tab: "\e7c7";
$icon-list-line: "\e7c8";
$icon-operations: "\e7c9";
$icon-payment: "\e7ca";
$icon-pie-graph: "\e7cb";
$icon-profile: "\e7cc";
$icon-add-profile: "\e7cd";
$icon-delete-profile: "\e7ce";
$icon-remove-profile: "\e7cf";
$icon-shred: "\e7d0";
$icon-print: "\e7d1";
$icon-stat-up: "\e7d2";
$icon-stats-down: "\e7d3";
$icon-stats: "\e7d4";
$icon-tab-check: "\e7d5";
$icon-add-tab: "\e7d6";
$icon-close-tab: "\e7d7";
$icon-date-success-add: "\e7d8";
$icon-tab-align-center: "\e7d9";
$icon-tab-align-left: "\e7da";
$icon-tab-align-right: "\e7db";
$icon-tab-code: "\e7dc";
$icon-tab-content: "\e7dd";
$icon-tab: "\e7de";
$icon-attach: "\e7df";
$icon-basket-ball: "\e7e0";
$icon-brush: "\e7e1";
$icon-bulb: "\e7e2";
$icon-bulls-eye: "\e7e3";
$icon-end-tag: "\e7e4";
$icon-life-saver: "\e7e5";
$icon-light-led: "\e7e6";
$icon-magic-wand: "\e7e7";
$icon-megaphone-wave: "\e7e8";
$icon-megaphone: "\e7e9";
$icon-navigation-arrow: "\e7ea";
$icon-nut: "\e7eb";
$icon-pencil-big: "\e7ec";
$icon-pencil-edit: "\e7ed";
$icon-pencil-write: "\e7ee";
$icon-pencil: "\e7ef";
$icon-pentool: "\e7f0";
$icon-puzzle: "\e7f1";
$icon-ribbon: "\e7f2";
$icon-rocketship: "\e7f3";
$icon-settings: "\e7f4";
$icon-target-2: "\e7f5";
$icon-target: "\e7f6";
$icon-training-module: "\e7f7";
$icon-trophy: "\e7f8";
$icon-vector: "\e7f9";
$icon-wrench-screwdriver: "\e7fa";
$icon-wrench: "\e7fb";
$icon-write-pencil: "\e7fc";
$icon-alarm: "\e7fd";
$icon-bell-close: "\e7fe";
$icon-bell-minus: "\e7ff";
$icon-bell-plus: "\e800";
$icon-bell: "\e801";
$icon-bomb: "\e802";
$icon-clothes: "\e803";
$icon-dashboard: "\e804";
$icon-gift: "\e805";
$icon-heart-arrow: "\e806";
$icon-heart-break: "\e807";
$icon-heart-close: "\e808";
$icon-heart-minus: "\e809";
$icon-heart-plus: "\e80a";
$icon-heart: "\e80b";
$icon-hourglass: "\e80c";
$icon-key-linear: "\e80d";
$icon-magnet: "\e80e";
$icon-necktie: "\e80f";
$icon-shield-check: "\e810";
$icon-shield: "\e811";
$icon-speech-bubble-heart: "\e812";
$icon-stopwatch: "\e813";
$icon-time-close: "\e814";
$icon-time-minus: "\e815";
$icon-time-plus: "\e816";
$icon-time: "\e817";
$icon-wand: "\e818";
$icon-watch: "\e819";
$icon-airplane: "\e81a";
$icon-check-line: "\e81b";
$icon-close-line: "\e81c";
$icon-compass: "\e81d";
$icon-corner-down-right: "\e81e";
$icon-corner-up-right: "\e81f";
$icon-download: "\e820";
$icon-drawer: "\e821";
$icon-file-drawer: "\e822";
$icon-flag-pole: "\e823";
$icon-flag: "\e824";
$icon-globe: "\e825";
$icon-link: "\e826";
$icon-location-minus: "\e827";
$icon-location-plus: "\e828";
$icon-location-target: "\e829";
$icon-location: "\e82a";
$icon-maximize: "\e82b";
$icon-minimize: "\e82c";
$icon-minus: "\e82d";
$icon-navigate: "\e82e";
$icon-pin: "\e82f";
$icon-plus: "\e830";
$icon-redo2: "\e831";
$icon-signboard-2: "\e832";
$icon-signboard: "\e833";
$icon-undo2: "\e834";
$icon-unlink: "\e835";
$icon-upload3: "\e836";
$icon-web: "\e837";
$icon-alert: "\e838";
$icon-check: "\e839";
$icon-close-mark: "\e83a";
$icon-close-tag: "\e83b";
$icon-close: "\e83c";
$icon-cursor: "\e83d";
$icon-disable: "\e83e";
$icon-down: "\e83f";
$icon-home: "\e840";
$icon-info: "\e841";
$icon-key: "\e842";
$icon-left: "\e843";
$icon-lock: "\e844";
$icon-magnify: "\e845";
$icon-minus2: "\e846";
$icon-navi: "\e847";
$icon-plus2: "\e848";
$icon-power: "\e849";
$icon-question-mark: "\e84a";
$icon-right: "\e84b";
$icon-signin: "\e84c";
$icon-signout: "\e84d";
$icon-star-circle: "\e84e";
$icon-star: "\e84f";
$icon-tags: "\e850";
$icon-trash: "\e851";
$icon-unlock: "\e852";
$icon-up: "\e853";
$icon-zoom-in: "\e854";
$icon-zoom-out: "\e855";
