// neutral
$brand-white: #fff !default;
$brand-black: #4A4A4A !default; // text color, etc
$brand-gray: #C4C4C4 !default;
$brand-gray-lt: #F0F0F0 !default; // previously #DEDEDE
$brand-gray-dk: #78828A !default;

$brand-neutral: #647A8A !default; // awkward light blue
// used for sidebar, darkbg, etc
$brand-sidebar: #19273F !default; // a touch of dark blue
$brand-sidebar-lt: #19273F !default; // a touch of dark blue
$brand-sidebar-dk: #0B121F !default;

// color variations
$brand-primary: #3A569B !default;
$brand-primary-dk: #283C6F !default;
// light / neutral colors
$brand-sky: #52B5E5 !default; // blue
$brand-emerald: #38D4A9 !default; // primary | gren
$brand-sun: #FFC05A !default; // yellow
$brand-crimson: #F05F50 !default; // red
// dark colors
$brand-sky-dk: #4684BF !default;
$brand-emerald-dk: #2EAF8B !default;
$brand-sun-dk: #C99746 !default;
$brand-crimson-dk: #C85044 !default;
