@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin link-no-underscore() {
  &, &:hover {
    text-decoration: none;
  }
}

// Responsive Utilities
// Note: `xs` (breakpoint-xs) isn't supplied because
// we're supposed to be implementing mobile-first practices
// example:
// @include breakpoint-sm() {
//   color: red;
// }
@mixin breakpoint-sm() {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    @content;
  }
}

@mixin breakpoint-md() {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

@mixin breakpoint-lg() {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content;
  }
}

// class utilities
// sparingly use :)

._clearfix {
  @include clearfix;

  ._left { float: left !important;}
  ._right { float: right !important; }
}
// Spacers
._no-spacer { margin-bottom: 0 !important; }
._spacer-small { margin-bottom: $spacer-small !important; }
._spacer { margin-bottom: $spacer !important; }
._spacer-large { margin-bottom: $spacer-large !important; }

// Type
._text-up { text-transform: uppercase !important; }
._text-low { text-transform: lowercase !important; }
._text-left { text-align: left !important; }
._text-center { text-align: center !important; }
._text-right { text-align: right !important; }

// Text color variants
._text-sky { color: $brand-sky; }
._text-crimson { color: $brand-crimson; }
._text-emerald { color: $brand-emerald; }
._text-sun { color: $brand-sun; }
._text-muted { color: $brand-gray-dk; }

// Center block
._centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
