@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// class utilities
// sparingly use :)

._clearfix {
  @include clearfix;

  ._left {
    float: left;
  }

  ._right {
    float: right;
  }
}
