$font-size-base: 14px !default;
$line-height-base: 1.7 !default;

$tiny: 18px;
$small: 24px;
$medium: 32px;
$big: 36px;

$allowance: 30px;
$allowance-wide: 50px;

$border-radius-base: 3px;
$border-radius-rounded: 25px;
